<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AsterBlaster.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAD7F4762549D4A3008D29A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD7F48C2549D4A4008D29A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD7F4972549D4A4008D29A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
